In [16]:
import os

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

In [19]:
app = Flask(__name__)
app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///aid_data.sqlite"
db = SQLAlchemy(app)

# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(db.engine, reflect=True)

aid = Base.classes.aid_data

C:\Users\llreb\Anaconda3\envs\PythonData\lib\site-packages\flask_sqlalchemy\__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [ ]:
year = 2016

In [23]:
sel = [
        aid.country_name,
        aid.latitude,
        aid.longitude,
        aid.transaction_type_name,
        aid.constant_amount,
        aid.fiscal_year,        
    ]

results = db.session.query(*sel).filter(aid.fiscal_year == year).group_by(aid.country_name, aid.fiscal_year, aid.transaction_type_name).all()

# Create a dictionary entry for each row of metadata information
aid_dict = {}
for result in results:
    aid_dict["country"] = result[0]
    aid_dict["latitude"] = result[1]
    aid_dict["longitude"] = result[2]
    aid_dict["transaction type"] = result[3]
    aid_dict["amount"] = result[4]
    aid_dict["year"] = result[5]
print(aid_dict)

{'country': 'Zimbabwe', 'latitude': -19.015438, 'longitude': 29.154857, 'transaction type': 'Obligations', 'amount': -119269, 'year': 2016}

In [22]:
stmt = db.session.query(aid).statement
df = pd.read_sql_query(stmt, db.session.bind)
df.head()

,index,country_code,country_name,latitude,longitude,region_name,income_group_name,income_group_acronym,implementing_agency_acronym,implementing_agency_name,...,activity_project_number,activity_start_date,activity_end_date,transaction_type_id,transaction_type_name,fiscal_year,current_amount,constant_amount,USG_sector_name,submission_id
0,0,AFG,Afghanistan,33.93911,67.709953,South and Central Asia,Low Income Country,LIC,DOD,Department of Defense,...,None,None,None,2,Obligations,2011,9941000000,10731991839,Stabilization Operations and Security Sector R...,28
1,1,AFG,Afghanistan,33.93911,67.709953,South and Central Asia,Low Income Country,LIC,DOD,Department of Defense,...,None,None,None,2,Obligations,2012,9243000000,9799467226,Stabilization Operations and Security Sector R...,28
2,2,AFG,Afghanistan,33.93911,67.709953,South and Central Asia,Low Income Country,LIC,DOD,Department of Defense,...,None,None,None,3,Disbursements,2011,7840175215,8464007285,Stabilization Operations and Security Sector R...,28
3,3,AFG,Afghanistan,33.93911,67.709953,South and Central Asia,Low Income Country,LIC,DOD,Department of Defense,...,None,None,None,3,Disbursements,2013,7764310985,8095048196,Stabilization Operations and Security Sector R...,28
4,4,AFG,Afghanistan,33.93911,67.709953,South and Central Asia,Low Income Country,LIC,DOD,Department of Defense,...,None,None,None,2,Obligations,2013,6928000000,7223112779,Stabilization Operations and Security Sector R...,28

In [35]:
# Filter the data based on the year
year = 2016

aid_data = df.loc[(df["fiscal_year"] == year), ["country_name", "latitude", "longitude", "transaction_type_name", "constant_amount", "fiscal_year"]]
# Format the data to send as json
aid_data.head()

,country_name,latitude,longitude,transaction_type_name,constant_amount,fiscal_year
22,Afghanistan,33.939110,67.709953,Obligations,3754000000,2016
33,Israel,31.046051,34.851612,Obligations,3100000000,2016
34,Israel,31.046051,34.851612,Disbursements,3100000000,2016
47,Iraq,33.223191,43.679291,Disbursements,2850000000,2016
48,Iraq,33.223191,43.679291,Obligations,2850000000,2016

In [25]:
aid_by_country = aid_data.groupby(["country_name", "latitude", "longitude", "fiscal_year", "transaction_type_name"])["constant_amount"].sum()
aid_by_country_df = pd.DataFrame(aid_by_country)
aid_by_country_df.head()

                                                                    constant_amount
country_name latitude  longitude fiscal_year transaction_type_name
Afghanistan  33.939110 67.709953 2016        Disbursements               4223684237
                                             Obligations                 5060084350
Albania      41.153332 20.168331 2016        Disbursements                 28703594
                                             Obligations                   27459364
Algeria      28.033886 1.659626  2016        Disbursements                  8341056

In [28]:
map_data = aid_by_country_df.to_dict('records')
map_data

[{'constant_amount': 4223684237},
 {'constant_amount': 5060084350},
 {'constant_amount': 28703594},
 {'constant_amount': 27459364},
 {'constant_amount': 8341056},
 {'constant_amount': 17641406},
 {'constant_amount': 69153127},
 {'constant_amount': 67149547},
 {'constant_amount': 635781},
 {'constant_amount': 635781},
 {'constant_amount': 6148126},
 {'constant_amount': 2439204},
 {'constant_amount': 46024007},
 {'constant_amount': 22205304},
 {'constant_amount': 2538},
 {'constant_amount': 2538},
 {'constant_amount': 71269},
 {'constant_amount': 71269},
 {'constant_amount': 24501071},
 {'constant_amount': 15232389},
 {'constant_amount': 2694794},
 {'constant_amount': 3313446},
 {'constant_amount': 7149660},
 {'constant_amount': 6573352},
 {'constant_amount': 266099370},
 {'constant_amount': 263396622},
 {'constant_amount': 4244751},
 {'constant_amount': 5442370},
 {'constant_amount': 10646578},
 {'constant_amount': 9226608},
 {'constant_amount': 7073320},
 {'constant_amount': 8613838},
 {'constant_amount': 67166776},
 {'constant_amount': 36918078},
 {'constant_amount': 356477},
 {'constant_amount': 18000},
 {'constant_amount': 1684111},
 {'constant_amount': 1490537},
 {'constant_amount': 46034367},
 {'constant_amount': 56804231},
 {'constant_amount': 75565717},
 {'constant_amount': 57252921},
 {'constant_amount': 21083520},
 {'constant_amount': 17166189},
 {'constant_amount': 6149},
 {'constant_amount': 6149},
 {'constant_amount': 327814},
 {'constant_amount': 354829},
 {'constant_amount': 18159686},
 {'constant_amount': 18530715},
 {'constant_amount': 64543906},
 {'constant_amount': 75436843},
 {'constant_amount': 388739854},
 {'constant_amount': 71111815},
 {'constant_amount': 107886028},
 {'constant_amount': 103710575},
 {'constant_amount': 100007980},
 {'constant_amount': 144202865},
 {'constant_amount': 21081443},
 {'constant_amount': 3424362},
 {'constant_amount': 70365720},
 {'constant_amount': 89832715},
 {'constant_amount': 71720603},
 {'constant_amount': 117400683},
 {'constant_amount': 2269112},
 {'constant_amount': 2319174},
 {'constant_amount': 414951466},
 {'constant_amount': 324793061},
 {'constant_amount': 1354220},
 {'constant_amount': 1057064},
 {'constant_amount': 12761735},
 {'constant_amount': 16200552},
 {'constant_amount': 3673996},
 {'constant_amount': 3522376},
 {'constant_amount': 11978547},
 {'constant_amount': 15776924},
 {'constant_amount': 1620405},
 {'constant_amount': -553257},
 {'constant_amount': 3455},
 {'constant_amount': 3455},
 {'constant_amount': 8580761},
 {'constant_amount': 24274878},
 {'constant_amount': 765392},
 {'constant_amount': 616000},
 {'constant_amount': 71633553},
 {'constant_amount': 55824649},
 {'constant_amount': 19440433},
 {'constant_amount': 26175144},
 {'constant_amount': 1281256718},
 {'constant_amount': 1239210039},
 {'constant_amount': 90125230},
 {'constant_amount': 74831935},
 {'constant_amount': 911439},
 {'constant_amount': 213839},
 {'constant_amount': 136488},
 {'constant_amount': 119364},
 {'constant_amount': 16013027},
 {'constant_amount': 15937295},
 {'constant_amount': 967145636},
 {'constant_amount': 1111329269},
 {'constant_amount': 3922098},
 {'constant_amount': 5796847},
 {'constant_amount': 104419},
 {'constant_amount': 104483},
 {'constant_amount': 2808778},
 {'constant_amount': 30356304},
 {'constant_amount': 2487585},
 {'constant_amount': 3172858},
 {'constant_amount': 130716188},
 {'constant_amount': 96358135},
 {'constant_amount': 857807},
 {'constant_amount': 928807},
 {'constant_amount': 212131676},
 {'constant_amount': 711659534},
 {'constant_amount': 5049805},
 {'constant_amount': 8644946},
 {'constant_amount': 622300},
 {'constant_amount': 622300},
 {'constant_amount': 177049368},
 {'constant_amount': 296868033},
 {'constant_amount': 134519213},
 {'constant_amount': 87630410},
 {'constant_amount': 9853132},
 {'constant_amount': 782732},
 {'constant_amount': 7714041},
 {'constant_amount': 9691030},
 {'constant_amount': 435084745},
 {'constant_amount': 376739142},
 {'constant_amount': 152127947},
 {'constant_amount': 127408601},
 {'constant_amount': 11829507},
 {'constant_amount': 11848405},
 {'constant_amount': 123091426},
 {'constant_amount': 179458972},
 {'constant_amount': 287075232},
 {'constant_amount': 221649943},
 {'constant_amount': 1067832},
 {'constant_amount': 1066867},
 {'constant_amount': 4256991847},
 {'constant_amount': 5281583316},
 {'constant_amount': 3116297335},
 {'constant_amount': 3113310210},
 {'constant_amount': 23648752},
 {'constant_amount': 27258621},
 {'constant_amount': 103284},
 {'constant_amount': -2296558},
 {'constant_amount': 1227925177},
 {'constant_amount': 1218828075},
 {'constant_amount': 74820978},
 {'constant_amount': 34317836},
 {'constant_amount': 893457494},
 {'constant_amount': 1144190351},
 {'constant_amount': 65631597},
 {'constant_amount': 46023429},
 {'constant_amount': 128171},
 {'constant_amount': 112000},
 {'constant_amount': 59348825},
 {'constant_amount': 41192185},
 {'constant_amount': 45772055},
 {'constant_amount': 57174076},
 {'constant_amount': 20856967},
 {'constant_amount': 21120979},
 {'constant_amount': 254886322},
 {'constant_amount': 418255321},
 {'constant_amount': 39832867},
 {'constant_amount': 73446044},
 {'constant_amount': 437851172},
 {'constant_amount': 474161191},
 {'constant_amount': 17217485},
 {'constant_amount': 28112087},
 {'constant_amount': 15713051},
 {'constant_amount': 15709304},
 {'constant_amount': 5242},
 {'constant_amount': 5242},
 {'constant_amount': 101833766},
 {'constant_amount': 103273791},
 {'constant_amount': 379408277},
 {'constant_amount': 420708421},
 {'constant_amount': 10837700},
 {'constant_amount': 10460768},
 {'constant_amount': 2444977},
 {'constant_amount': 1511931},
 {'constant_amount': 186672008},
 {'constant_amount': 257422019},
 {'constant_amount': 506573},
 {'constant_amount': 137945},
 {'constant_amount': 79665613},
 {'constant_amount': 95427249},
 {'constant_amount': 14167059},
 {'constant_amount': 13142138},
 {'constant_amount': 832944},
 {'constant_amount': 791133},
 {'constant_amount': 181686636},
 {'constant_amount': 87503680},
 {'constant_amount': 54439588},
 {'constant_amount': 25979906},
 {'constant_amount': 10587464},
 {'constant_amount': 14082452},
 {'constant_amount': 4022229},
 {'constant_amount': 2118108},
 {'constant_amount': 102220555},
 {'constant_amount': 126514580},
 {'constant_amount': 396258526},
 {'constant_amount': 514007618},
 {'constant_amount': 61291396},
 {'constant_amount': 53669544},
 {'constant_amount': 202507523},
 {'constant_amount': 194268219},
 {'constant_amount': 56269},
 {'constant_amount': -318580},
 {'constant_amount': 50121955},
 {'constant_amount': 31415486},
 {'constant_amount': 87116437},
 {'constant_amount': 144847238},
 {'constant_amount': 541939233},
 {'constant_amount': 716801730},
 {'constant_amount': 5261944},
 {'constant_amount': 5446829},
 {'constant_amount': 990146805},
 {'constant_amount': 779773893},
 {'constant_amount': 15040122},
 {'constant_amount': 15629822},
 {'constant_amount': 24587836},
 {'constant_amount': 24896851},
 {'constant_amount': 11222167},
 {'constant_amount': 14836598},
 {'constant_amount': 13954558},
 {'constant_amount': 21847278},
 {'constant_amount': 134633815},
 {'constant_amount': 95695648},
 {'constant_amount': 450099621},
 {'constant_amount': 290648009},
 {'constant_amount': 508435746},
 {'constant_amount': 12619181},
 {'constant_amount': 117811},
 {'constant_amount': 198189},
 {'constant_amount': 131620},
 {'constant_amount': 95097},
 {'constant_amount': 35413733},
 {'constant_amount': 35487544},
 {'constant_amount': 13391390},
 {'constant_amount': 18958172},
 {'constant_amount': 193628768},
 {'constant_amount': 268893024},
 {'constant_amount': 1391459},
 {'constant_amount': 1531943},
 {'constant_amount': 697414},
 {'constant_amount': 732875},
 {'constant_amount': 189238415},
 {'constant_amount': 100069465},
 {'constant_amount': 26145528},
 {'constant_amount': 33088589},
 {'constant_amount': 282002},
 {'constant_amount': 223002},
 {'constant_amount': 161820572},
 {'constant_amount': 104939498},
 {'constant_amount': 424828},
 {'constant_amount': 468118},
 {'constant_amount': 804933},
 {'constant_amount': 715716},
 {'constant_amount': 21956677},
 {'constant_amount': 22471000},
 {'constant_amount': 195319413},
 {'constant_amount': 277032239},
 {'constant_amount': 489248905},
 {'constant_amount': 597193299},
 {'constant_amount': 16231},
 {'constant_amount': 56231},
 {'constant_amount': 32571675},
 {'constant_amount': 23974840},
 {'constant_amount': 105777746},
 {'constant_amount': 141629834},
 {'constant_amount': 232672},
 {'constant_amount': 232672},
 {'constant_amount': 1269},
 {'constant_amount': 1269},
 {'constant_amount': 67538},
 {'constant_amount': 67538},
 {'constant_amount': 648400034},
 {'constant_amount': 916426147},
 {'constant_amount': 54764545},
 {'constant_amount': 47780791},
 {'constant_amount': 527845504},
 {'constant_amount': 629298117},
 {'constant_amount': 60480988},
 {'constant_amount': 68090317},
 {'constant_amount': 25384089},
 {'constant_amount': 16672822},
 {'constant_amount': 5238769},
 {'constant_amount': 6067169},
 {'constant_amount': 2175117},
 {'constant_amount': 2359237},
 {'constant_amount': 1127421},
 {'constant_amount': 1302775},
 {'constant_amount': 127371355},
 {'constant_amount': 145775770},
 {'constant_amount': 55698071},
 {'constant_amount': 154594512},
 {'constant_amount': 4158982},
 {'constant_amount': 2793670},
 {'constant_amount': 553313800},
 {'constant_amount': 742725650},
 {'constant_amount': 522199975},
 {'constant_amount': 512608841},
 {'constant_amount': 1481009},
 {'constant_amount': 889291},
 {'constant_amount': 173000},
 {'constant_amount': 757750},
 {'constant_amount': 836850},
 {'constant_amount': 23097163},
 {'constant_amount': 19721153},
 {'constant_amount': 3767316},
 {'constant_amount': 4439958},
 {'constant_amount': 10324037},
 {'constant_amount': 9178148},
 {'constant_amount': 137702701},
 {'constant_amount': 157396011},
 {'constant_amount': 272549832},
 {'constant_amount': 305054784},
 {'constant_amount': 348015766},
 {'constant_amount': 445651674},
 {'constant_amount': 222623369},
 {'constant_amount': 261441825}]