In [1]:
import os

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

In [3]:
app = Flask(__name__)
app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///TeamPlaisant/aid_data.sqlite"
db = SQLAlchemy(app)

# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(db.engine, reflect=True)

aid = Base.classes.aid_data

C:\Users\llreb\Anaconda3\envs\PythonData\lib\site-packages\flask_sqlalchemy\__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [4]:
year = 2016

In [7]:
sel = [
        aid.country_name,
        aid.latitude,
        aid.longitude,
        aid.transaction_type_name,
        func.sum(aid.constant_amount),
        aid.fiscal_year        
    ]

results = db.session.query(*sel).filter(aid.fiscal_year == year).filter(aid.transaction_type_name == "Disbursements").group_by(aid.country_name, aid.fiscal_year, aid.transaction_type_name)

# Create a dictionary entry for each row of information

map_data = []
for result in results:
    aid_dict = {}
    aid_dict["country"] = result[0]
    aid_dict["latitude"] = result[1]
    aid_dict["longitude"] = result[2]
    aid_dict["transaction type"] = result[3]
    aid_dict["amount"] = result[4]
    aid_dict["year"] = result[5]
    map_data.append(aid_dict)
print(map_data)

[{'country': 'Afghanistan', 'latitude': 33.93911, 'longitude': 67.709953, 'transaction type': 'Disbursements', 'amount': 4223684237, 'year': 2016}, {'country': 'Albania', 'latitude': 41.153332, 'longitude': 20.168331, 'transaction type': 'Disbursements', 'amount': 28703594, 'year': 2016}, {'country': 'Algeria', 'latitude': 28.033886, 'longitude': 1.6596259999999998, 'transaction type': 'Disbursements', 'amount': 8341056, 'year': 2016}, {'country': 'Angola', 'latitude': -11.202691999999999, 'longitude': 17.873887, 'transaction type': 'Disbursements', 'amount': 69153127, 'year': 2016}, {'country': 'Antigua and Barbuda', 'latitude': 17.060816, 'longitude': -61.796428000000006, 'transaction type': 'Disbursements', 'amount': 635781, 'year': 2016}, {'country': 'Argentina', 'latitude': -38.416097, 'longitude': -63.616671999999994, 'transaction type': 'Disbursements', 'amount': 6148126, 'year': 2016}, {'country': 'Armenia', 'latitude': 40.069099, 'longitude': 45.038189, 'transaction type': 'Disbursements', 'amount': 46024007, 'year': 2016}, {'country': 'Asia Region', 'latitude': None, 'longitude': None, 'transaction type': 'Disbursements', 'amount': 149397042, 'year': 2016}, {'country': 'Asia, Middle East and North Africa Region', 'latitude': None, 'longitude': None, 'transaction type': 'Disbursements', 'amount': 473547, 'year': 2016}, {'country': 'Australia', 'latitude': -25.274398, 'longitude': 133.775136, 'transaction type': 'Disbursements', 'amount': 2538, 'year': 2016}, {'country': 'Austria', 'latitude': 47.516231, 'longitude': 14.550072, 'transaction type': 'Disbursements', 'amount': 71269, 'year': 2016}, {'country': 'Azerbaijan', 'latitude': 40.143105, 'longitude': 47.576927000000005, 'transaction type': 'Disbursements', 'amount': 24501071, 'year': 2016}, {'country': 'Bahamas', 'latitude': 25.03428, 'longitude': -77.39628, 'transaction type': 'Disbursements', 'amount': 2694794, 'year': 2016}, {'country': 'Bahrain', 'latitude': 25.930414000000003, 'longitude': 50.637772, 'transaction type': 'Disbursements', 'amount': 7149660, 'year': 2016}, {'country': 'Bangladesh', 'latitude': 23.684994, 'longitude': 90.35633100000001, 'transaction type': 'Disbursements', 'amount': 266099370, 'year': 2016}, {'country': 'Barbados', 'latitude': 13.193887, 'longitude': -59.543198, 'transaction type': 'Disbursements', 'amount': 4244751, 'year': 2016}, {'country': 'Belarus', 'latitude': 53.709807, 'longitude': 27.953389, 'transaction type': 'Disbursements', 'amount': 10646578, 'year': 2016}, {'country': 'Belize', 'latitude': 17.189877, 'longitude': -88.49765, 'transaction type': 'Disbursements', 'amount': 7073320, 'year': 2016}, {'country': 'Benin', 'latitude': 9.30769, 'longitude': 2.315834, 'transaction type': 'Disbursements', 'amount': 67166776, 'year': 2016}, {'country': 'Bhutan', 'latitude': 27.514162, 'longitude': 90.433601, 'transaction type': 'Disbursements', 'amount': 356477, 'year': 2016}, {'country': 'Bolivia', 'latitude': -16.290154, 'longitude': -63.588653, 'transaction type': 'Disbursements', 'amount': 1684111, 'year': 2016}, {'country': 'Bosnia and Herzegovina', 'latitude': 43.915886, 'longitude': 17.679076000000002, 'transaction type': 'Disbursements', 'amount': 46034367, 'year': 2016}, {'country': 'Botswana', 'latitude': -22.328474, 'longitude': 24.684866, 'transaction type': 'Disbursements', 'amount': 75565717, 'year': 2016}, {'country': 'Brazil', 'latitude': -14.235004, 'longitude': -51.92528, 'transaction type': 'Disbursements', 'amount': 21083520, 'year': 2016}, {'country': 'British Indian Ocean Territory', 'latitude': -6.343194, 'longitude': 71.87651899999999, 'transaction type': 'Disbursements', 'amount': 6149, 'year': 2016}, {'country': 'Brunei', 'latitude': 4.535277, 'longitude': 114.72766899999999, 'transaction type': 'Disbursements', 'amount': 327814, 'year': 2016}, {'country': 'Bulgaria', 'latitude': 42.733883, 'longitude': 25.48583, 'transaction type': 'Disbursements', 'amount': 18159686, 'year': 2016}, {'country': 'Burkina Faso', 'latitude': 12.238333, 'longitude': -1.561593, 'transaction type': 'Disbursements', 'amount': 64543906, 'year': 2016}, {'country': 'Burma (Myanmar)', 'latitude': None, 'longitude': None, 'transaction type': 'Disbursements', 'amount': 138991729, 'year': 2016}, {'country': 'Burundi', 'latitude': -3.3730559999999996, 'longitude': 29.918885999999997, 'transaction type': 'Disbursements', 'amount': 388739854, 'year': 2016}, {'country': 'Cabo Verde', 'latitude': None, 'longitude': None, 'transaction type': 'Disbursements', 'amount': 21098429, 'year': 2016}, {'country': 'Cambodia', 'latitude': 12.565679, 'longitude': 104.990963, 'transaction type': 'Disbursements', 'amount': 107886028, 'year': 2016}, {'country': 'Cameroon', 'latitude': 7.369722, 'longitude': 12.354722, 'transaction type': 'Disbursements', 'amount': 100007980, 'year': 2016}, {'country': 'Canada', 'latitude': 56.130366, 'longitude': -106.34677099999999, 'transaction type': 'Disbursements', 'amount': 21081443, 'year': 2016}, {'country': 'Caribbean Region', 'latitude': None, 'longitude': None, 'transaction type': 'Disbursements', 'amount': 69914783, 'year': 2016}, {'country': 'Central African Republic', 'latitude': 6.611111, 'longitude': 20.939444, 'transaction type': 'Disbursements', 'amount': 70365720, 'year': 2016}, {'country': 'Central America Region', 'latitude': None, 'longitude': None, 'transaction type': 'Disbursements', 'amount': 174878165, 'year': 2016}, {'country': 'Central America and Caribbean Region', 'latitude': None, 'longitude': None, 'transaction type': 'Disbursements', 'amount': 7165017, 'year': 2016}, {'country': 'Central and Eastern Europe Region', 'latitude': None, 'longitude': None, 'transaction type': 'Disbursements', 'amount': 1767490, 'year': 2016}, {'country': 'Chad', 'latitude': 15.454166, 'longitude': 18.732207, 'transaction type': 'Disbursements', 'amount': 71720603, 'year': 2016}, {'country': 'Chile', 'latitude': -35.675146999999996, 'longitude': -71.542969, 'transaction type': 'Disbursements', 'amount': 2269112, 'year': 2016}, {'country': 'China (P.R. Hong Kong)', 'latitude': None, 'longitude': None, 'transaction type': 'Disbursements', 'amount': 288409, 'year': 2016}, {'country': 'China (P.R.C.)', 'latitude': None, 'longitude': None, 'transaction type': 'Disbursements', 'amount': 45964814, 'year': 2016}, {'country': 'China (Tibet)', 'latitude': None, 'longitude': None, 'transaction type': 'Disbursements', 'amount': 1002850, 'year': 2016}, {'country': 'China, Republic of (Taiwan)', 'latitude': None, 'longitude': None, 'transaction type': 'Disbursements', 'amount': 362173, 'year': 2016}, {'country': 'Colombia', 'latitude': 4.570868, 'longitude': -74.297333, 'transaction type': 'Disbursements', 'amount': 414951466, 'year': 2016}, {'country': 'Comoros', 'latitude': -11.875001, 'longitude': 43.872219, 'transaction type': 'Disbursements', 'amount': 1354220, 'year': 2016}, {'country': 'Congo (Brazzaville)', 'latitude': None, 'longitude': None, 'transaction type': 'Disbursements', 'amount': 4236411, 'year': 2016}, {'country': 'Congo (Kinshasa)', 'latitude': None, 'longitude': None, 'transaction type': 'Disbursements', 'amount': 352412619, 'year': 2016}, {'country': 'Costa Rica', 'latitude': 9.748917, 'longitude': -83.753428, 'transaction type': 'Disbursements', 'amount': 12761735, 'year': 2016}, {'country': "Cote d'Ivoire", 'latitude': None, 'longitude': None, 'transaction type': 'Disbursements', 'amount': 132640570, 'year': 2016}, {'country': 'Croatia', 'latitude': 45.1, 'longitude': 15.2, 'transaction type': 'Disbursements', 'amount': 3673996, 'year': 2016}, {'country': 'Cuba', 'latitude': 21.521757, 'longitude': -77.78116700000001, 'transaction type': 'Disbursements', 'amount': 11978547, 'year': 2016}, {'country': 'Cyprus', 'latitude': 35.126413, 'longitude': 33.429859, 'transaction type': 'Disbursements', 'amount': 1620405, 'year': 2016}, {'country': 'Czechia', 'latitude': None, 'longitude': None, 'transaction type': 'Disbursements', 'amount': 4842401, 'year': 2016}, {'country': 'Denmark', 'latitude': 56.26392, 'longitude': 9.501785, 'transaction type': 'Disbursements', 'amount': 3455, 'year': 2016}, {'country': 'Djibouti', 'latitude': 11.825138, 'longitude': 42.590275, 'transaction type': 'Disbursements', 'amount': 8580761, 'year': 2016}, {'country': 'Dominica', 'latitude': 15.414999, 'longitude': -61.370976, 'transaction type': 'Disbursements', 'amount': 765392, 'year': 2016}, {'country': 'Dominican Republic', 'latitude': 18.735692999999998, 'longitude': -70.162651, 'transaction type': 'Disbursements', 'amount': 71633553, 'year': 2016}, {'country': 'East Asia and Oceania Region', 'latitude': None, 'longitude': None, 'transaction type': 'Disbursements', 'amount': 38827681, 'year': 2016}, {'country': 'Eastern Africa Region', 'latitude': None, 'longitude': None, 'transaction type': 'Disbursements', 'amount': 146746682, 'year': 2016}, {'country': 'Eastern Asia Region', 'latitude': None, 'longitude': None, 'transaction type': 'Disbursements', 'amount': 98097653, 'year': 2016}, {'country': 'Eastern Europe Region', 'latitude': None, 'longitude': None, 'transaction type': 'Disbursements', 'amount': 21282709, 'year': 2016}, {'country': 'Ecuador', 'latitude': -1.8312389999999998, 'longitude': -78.183406, 'transaction type': 'Disbursements', 'amount': 19440433, 'year': 2016}, {'country': 'Egypt', 'latitude': 26.820553000000004, 'longitude': 30.802497999999996, 'transaction type': 'Disbursements', 'amount': 1281256718, 'year': 2016}, {'country': 'El Salvador', 'latitude': 13.794185, 'longitude': -88.89653, 'transaction type': 'Disbursements', 'amount': 90125230, 'year': 2016}, {'country': 'Equatorial Guinea', 'latitude': 1.6508009999999997, 'longitude': 10.267895, 'transaction type': 'Disbursements', 'amount': 911439, 'year': 2016}, {'country': 'Eritrea', 'latitude': 15.179383999999999, 'longitude': 39.782334000000006, 'transaction type': 'Disbursements', 'amount': 136488, 'year': 2016}, {'country': 'Estonia', 'latitude': 58.595271999999994, 'longitude': 25.013607, 'transaction type': 'Disbursements', 'amount': 16013027, 'year': 2016}, {'country': 'Eswatini', 'latitude': None, 'longitude': None, 'transaction type': 'Disbursements', 'amount': 52873859, 'year': 2016}, {'country': 'Ethiopia', 'latitude': 9.145, 'longitude': 40.489672999999996, 'transaction type': 'Disbursements', 'amount': 967145636, 'year': 2016}, {'country': 'Eurasia Region', 'latitude': None, 'longitude': None, 'transaction type': 'Disbursements', 'amount': 29612689, 'year': 2016}, {'country': 'Europe Region', 'latitude': None, 'longitude': None, 'transaction type': 'Disbursements', 'amount': 231001383, 'year': 2016}, {'country': 'Europe and Eurasia Region', 'latitude': None, 'longitude': None, 'transaction type': 'Disbursements', 'amount': 4439379, 'year': 2016}, {'country': 'Fiji', 'latitude': -16.578193, 'longitude': 179.414413, 'transaction type': 'Disbursements', 'amount': 3922098, 'year': 2016}, {'country': 'France', 'latitude': 46.227638, 'longitude': 2.213749, 'transaction type': 'Disbursements', 'amount': 104419, 'year': 2016}, {'country': 'Gabon', 'latitude': -0.803689, 'longitude': 11.609444, 'transaction type': 'Disbursements', 'amount': 2808778, 'year': 2016}, {'country': 'Gambia', 'latitude': 13.443182, 'longitude': -15.310139000000001, 'transaction type': 'Disbursements', 'amount': 2487585, 'year': 2016}, {'country': 'Georgia', 'latitude': 42.315407, 'longitude': 43.356891999999995, 'transaction type': 'Disbursements', 'amount': 130716188, 'year': 2016}, {'country': 'Germany', 'latitude': 51.165690999999995, 'longitude': 10.451526, 'transaction type': 'Disbursements', 'amount': 857807, 'year': 2016}, {'country': 'Ghana', 'latitude': 7.946527000000001, 'longitude': -1.0231940000000002, 'transaction type': 'Disbursements', 'amount': 212131676, 'year': 2016}, {'country': 'Greece', 'latitude': 39.074208, 'longitude': 21.824312, 'transaction type': 'Disbursements', 'amount': 5049805, 'year': 2016}, {'country': 'Grenada', 'latitude': 12.262775999999999, 'longitude': -61.604170999999994, 'transaction type': 'Disbursements', 'amount': 622300, 'year': 2016}, {'country': 'Guatemala', 'latitude': 15.783470999999999, 'longitude': -90.23075899999999, 'transaction type': 'Disbursements', 'amount': 177049368, 'year': 2016}, {'country': 'Guinea', 'latitude': 9.945587, 'longitude': -9.696645, 'transaction type': 'Disbursements', 'amount': 134519213, 'year': 2016}, {'country': 'Guinea-Bissau', 'latitude': 11.803749, 'longitude': -15.180413, 'transaction type': 'Disbursements', 'amount': 9853132, 'year': 2016}, {'country': 'Guyana', 'latitude': 4.860416000000001, 'longitude': -58.93018000000001, 'transaction type': 'Disbursements', 'amount': 7714041, 'year': 2016}, {'country': 'Haiti', 'latitude': 18.971187, 'longitude': -72.28521500000001, 'transaction type': 'Disbursements', 'amount': 435084745, 'year': 2016}, {'country': 'Honduras', 'latitude': 15.199998999999998, 'longitude': -86.241905, 'transaction type': 'Disbursements', 'amount': 152127947, 'year': 2016}, {'country': 'Hungary', 'latitude': 47.162494, 'longitude': 19.503304, 'transaction type': 'Disbursements', 'amount': 11829507, 'year': 2016}, {'country': 'India', 'latitude': 20.593684, 'longitude': 78.96288, 'transaction type': 'Disbursements', 'amount': 123091426, 'year': 2016}, {'country': 'Indonesia', 'latitude': -0.789275, 'longitude': 113.921327, 'transaction type': 'Disbursements', 'amount': 287075232, 'year': 2016}, {'country': 'Iran', 'latitude': 32.427908, 'longitude': 53.68804599999999, 'transaction type': 'Disbursements', 'amount': 1067832, 'year': 2016}, {'country': 'Iraq', 'latitude': 33.223191, 'longitude': 43.679291, 'transaction type': 'Disbursements', 'amount': 4256991847, 'year': 2016}, {'country': 'Israel', 'latitude': 31.046051000000002, 'longitude': 34.851612, 'transaction type': 'Disbursements', 'amount': 3116297335, 'year': 2016}, {'country': 'Jamaica', 'latitude': 18.109581, 'longitude': -77.297508, 'transaction type': 'Disbursements', 'amount': 23648752, 'year': 2016}, {'country': 'Japan', 'latitude': 36.204824, 'longitude': 138.252924, 'transaction type': 'Disbursements', 'amount': 103284, 'year': 2016}, {'country': 'Jordan', 'latitude': 30.585164000000002, 'longitude': 36.238414, 'transaction type': 'Disbursements', 'amount': 1227925177, 'year': 2016}, {'country': 'Kazakhstan', 'latitude': 48.019573, 'longitude': 66.923684, 'transaction type': 'Disbursements', 'amount': 74820978, 'year': 2016}, {'country': 'Kenya', 'latitude': -0.023559, 'longitude': 37.906193, 'transaction type': 'Disbursements', 'amount': 893457494, 'year': 2016}, {'country': 'Korea Republic', 'latitude': None, 'longitude': None, 'transaction type': 'Disbursements', 'amount': 738622, 'year': 2016}, {'country': 'Korea, Democratic Republic', 'latitude': None, 'longitude': None, 'transaction type': 'Disbursements', 'amount': 2142161, 'year': 2016}, {'country': 'Kosovo', 'latitude': 42.602636, 'longitude': 20.902977, 'transaction type': 'Disbursements', 'amount': 65631597, 'year': 2016}, {'country': 'Kuwait', 'latitude': 29.311659999999996, 'longitude': 47.481766, 'transaction type': 'Disbursements', 'amount': 128171, 'year': 2016}, {'country': 'Kyrgyzstan', 'latitude': 41.20438, 'longitude': 74.766098, 'transaction type': 'Disbursements', 'amount': 59348825, 'year': 2016}, {'country': 'Laos', 'latitude': 19.856270000000002, 'longitude': 102.495496, 'transaction type': 'Disbursements', 'amount': 45772055, 'year': 2016}, {'country': 'Latin America Region', 'latitude': None, 'longitude': None, 'transaction type': 'Disbursements', 'amount': 620974, 'year': 2016}, {'country': 'Latin America and Caribbean Region', 'latitude': None, 'longitude': None, 'transaction type': 'Disbursements', 'amount': 210753400, 'year': 2016}, {'country': 'Latvia', 'latitude': 56.879635, 'longitude': 24.603189, 'transaction type': 'Disbursements', 'amount': 20856967, 'year': 2016}, {'country': 'Lebanon', 'latitude': 33.854721000000005, 'longitude': 35.862285, 'transaction type': 'Disbursements', 'amount': 254886322, 'year': 2016}, {'country': 'Lesotho', 'latitude': -29.609988, 'longitude': 28.233608, 'transaction type': 'Disbursements', 'amount': 39832867, 'year': 2016}, {'country': 'Liberia', 'latitude': 6.4280550000000005, 'longitude': -9.429499, 'transaction type': 'Disbursements', 'amount': 437851172, 'year': 2016}, {'country': 'Libya', 'latitude': 26.3351, 'longitude': 17.228331, 'transaction type': 'Disbursements', 'amount': 17217485, 'year': 2016}, {'country': 'Lithuania', 'latitude': 55.169438, 'longitude': 23.881275, 'transaction type': 'Disbursements', 'amount': 15713051, 'year': 2016}, {'country': 'Luxembourg', 'latitude': 49.815273, 'longitude': 6.129583, 'transaction type': 'Disbursements', 'amount': 5242, 'year': 2016}, {'country': 'Macedonia', 'latitude': None, 'longitude': None, 'transaction type': 'Disbursements', 'amount': 27829847, 'year': 2016}, {'country': 'Madagascar', 'latitude': -18.766947000000002, 'longitude': 46.869107, 'transaction type': 'Disbursements', 'amount': 101833766, 'year': 2016}, {'country': 'Malawi', 'latitude': -13.254307999999998, 'longitude': 34.301525, 'transaction type': 'Disbursements', 'amount': 379408277, 'year': 2016}, {'country': 'Malaysia', 'latitude': 4.210483999999999, 'longitude': 101.97576600000001, 'transaction type': 'Disbursements', 'amount': 10837700, 'year': 2016}, {'country': 'Maldives', 'latitude': 3.202778, 'longitude': 73.22068, 'transaction type': 'Disbursements', 'amount': 2444977, 'year': 2016}, {'country': 'Mali', 'latitude': 17.570692, 'longitude': -3.9961660000000006, 'transaction type': 'Disbursements', 'amount': 186672008, 'year': 2016}, {'country': 'Malta', 'latitude': 35.937496, 'longitude': 14.375416, 'transaction type': 'Disbursements', 'amount': 506573, 'year': 2016}, {'country': 'Marshall Islands', 'latitude': 7.131474000000001, 'longitude': 171.184478, 'transaction type': 'Disbursements', 'amount': 79665613, 'year': 2016}, {'country': 'Mauritania', 'latitude': 21.00789, 'longitude': -10.940835, 'transaction type': 'Disbursements', 'amount': 14167059, 'year': 2016}, {'country': 'Mauritius', 'latitude': -20.348404000000002, 'longitude': 57.552152, 'transaction type': 'Disbursements', 'amount': 832944, 'year': 2016}, {'country': 'Mexico', 'latitude': 23.634501, 'longitude': -102.552784, 'transaction type': 'Disbursements', 'amount': 181686636, 'year': 2016}, {'country': 'Micronesia (Federated States)', 'latitude': None, 'longitude': None, 'transaction type': 'Disbursements', 'amount': 111020829, 'year': 2016}, {'country': 'Middle East Region', 'latitude': None, 'longitude': None, 'transaction type': 'Disbursements', 'amount': 6815949, 'year': 2016}, {'country': 'Middle East and North Africa Region', 'latitude': None, 'longitude': None, 'transaction type': 'Disbursements', 'amount': 624384757, 'year': 2016}, {'country': 'Moldova', 'latitude': 47.411631, 'longitude': 28.369884999999996, 'transaction type': 'Disbursements', 'amount': 54439588, 'year': 2016}, {'country': 'Mongolia', 'latitude': 46.862496, 'longitude': 103.84665600000001, 'transaction type': 'Disbursements', 'amount': 10587464, 'year': 2016}, {'country': 'Montenegro', 'latitude': 42.708678000000006, 'longitude': 19.37439, 'transaction type': 'Disbursements', 'amount': 4022229, 'year': 2016}, {'country': 'Morocco', 'latitude': 31.791702, 'longitude': -7.09262, 'transaction type': 'Disbursements', 'amount': 102220555, 'year': 2016}, {'country': 'Mozambique', 'latitude': -18.665695, 'longitude': 35.529562, 'transaction type': 'Disbursements', 'amount': 396258526, 'year': 2016}, {'country': 'Namibia', 'latitude': -22.957639999999998, 'longitude': 18.49041, 'transaction type': 'Disbursements', 'amount': 61291396, 'year': 2016}, {'country': 'Nepal', 'latitude': 28.394857000000002, 'longitude': 84.12400799999999, 'transaction type': 'Disbursements', 'amount': 202507523, 'year': 2016}, {'cou

In [4]:
stmt = db.session.query(aid).statement
df = pd.read_sql_query(stmt, db.session.bind)
df.head()

,index,country_code,country_name,latitude,longitude,region_name,income_group_name,income_group_acronym,implementing_agency_acronym,implementing_agency_name,...,activity_project_number,activity_start_date,activity_end_date,transaction_type_id,transaction_type_name,fiscal_year,current_amount,constant_amount,USG_sector_name,submission_id
0,0,AFG,Afghanistan,33.93911,67.709953,South and Central Asia,Low Income Country,LIC,DOD,Department of Defense,...,None,None,None,2,Obligations,2011,9941000000,10731991839,Stabilization Operations and Security Sector R...,28
1,1,AFG,Afghanistan,33.93911,67.709953,South and Central Asia,Low Income Country,LIC,DOD,Department of Defense,...,None,None,None,2,Obligations,2012,9243000000,9799467226,Stabilization Operations and Security Sector R...,28
2,2,AFG,Afghanistan,33.93911,67.709953,South and Central Asia,Low Income Country,LIC,DOD,Department of Defense,...,None,None,None,3,Disbursements,2011,7840175215,8464007285,Stabilization Operations and Security Sector R...,28
3,3,AFG,Afghanistan,33.93911,67.709953,South and Central Asia,Low Income Country,LIC,DOD,Department of Defense,...,None,None,None,3,Disbursements,2013,7764310985,8095048196,Stabilization Operations and Security Sector R...,28
4,4,AFG,Afghanistan,33.93911,67.709953,South and Central Asia,Low Income Country,LIC,DOD,Department of Defense,...,None,None,None,2,Obligations,2013,6928000000,7223112779,Stabilization Operations and Security Sector R...,28

In [5]:
# Filter the data based on the year
year = 2016

aid_data = df.loc[(df["fiscal_year"] == year) & (df["transaction_type_name"] == "Disbursements"), ["country_name", "latitude", "longitude", "transaction_type_name", "constant_amount", "fiscal_year"]]
# Format the data to send as json
aid_data.head()

,country_name,latitude,longitude,transaction_type_name,constant_amount,fiscal_year
34,Israel,31.046051,34.851612,Disbursements,3100000000,2016
47,Iraq,33.223191,43.679291,Disbursements,2850000000,2016
56,Afghanistan,33.939110,67.709953,Disbursements,2601000000,2016
89,World,NaN,NaN,Disbursements,1818282317,2016
213,World,NaN,NaN,Disbursements,1197128000,2016

In [26]:
aid_by_country = aid_data.groupby(["country_name", "latitude", "longitude", "fiscal_year", "transaction_type_name"])["constant_amount"].sum()
aid_by_country_df = pd.DataFrame(aid_by_country).set_index("country_name")
aid_by_country_df.head()
#aid_by_country

KeyError: 'country_name'

In [24]:
map_data = {"country": aid_by_country_df.country_name.values.to_list, 
                    "year": aid_by_country_df.fiscal_year.values.to_list,
                    "latitude": aid_by_country_df.latitude.values.to_list, 
                     "longitue": aid_by_country_df.longitude.values.to_list,
                     "amount": aid_by_country_df.constant_amount.values.to_list}

AttributeError: 'DataFrame' object has no attribute 'country_name'

In [20]:
map_data = list(np.ravel(aid_by_country))
map_data

[4223684237,
 28703594,
 8341056,
 69153127,
 635781,
 6148126,
 46024007,
 2538,
 71269,
 24501071,
 2694794,
 7149660,
 266099370,
 4244751,
 10646578,
 7073320,
 67166776,
 356477,
 1684111,
 46034367,
 75565717,
 21083520,
 6149,
 327814,
 18159686,
 64543906,
 388739854,
 107886028,
 100007980,
 21081443,
 70365720,
 71720603,
 2269112,
 414951466,
 1354220,
 12761735,
 3673996,
 11978547,
 1620405,
 3455,
 8580761,
 765392,
 71633553,
 19440433,
 1281256718,
 90125230,
 911439,
 136488,
 16013027,
 967145636,
 3922098,
 104419,
 2808778,
 2487585,
 130716188,
 857807,
 212131676,
 5049805,
 622300,
 177049368,
 134519213,
 9853132,
 7714041,
 435084745,
 152127947,
 11829507,
 123091426,
 287075232,
 1067832,
 4256991847,
 3116297335,
 23648752,
 103284,
 1227925177,
 74820978,
 893457494,
 65631597,
 128171,
 59348825,
 45772055,
 20856967,
 254886322,
 39832867,
 437851172,
 17217485,
 15713051,
 5242,
 101833766,
 379408277,
 10837700,
 2444977,
 186672008,
 506573,
 79665613,
 14167059,
 832944,
 181686636,
 54439588,
 10587464,
 4022229,
 102220555,
 396258526,
 61291396,
 202507523,
 56269,
 50121955,
 87116437,
 541939233,
 5261944,
 990146805,
 15040122,
 24587836,
 11222167,
 13954558,
 134633815,
 450099621,
 508435746,
 117811,
 131620,
 35413733,
 13391390,
 193628768,
 1391459,
 697414,
 189238415,
 26145528,
 282002,
 161820572,
 424828,
 804933,
 21956677,
 195319413,
 489248905,
 16231,
 32571675,
 105777746,
 232672,
 1269,
 67538,
 648400034,
 54764545,
 527845504,
 60480988,
 25384089,
 5238769,
 2175117,
 1127421,
 127371355,
 55698071,
 4158982,
 553313800,
 522199975,
 1481009,
 173000,
 757750,
 23097163,
 3767316,
 10324037,
 137702701,
 272549832,
 348015766,
 222623369]