In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
data=pd.read_csv("/Users/jyj/Dropbox/A_A_Data_Analysis/Group_Projects/US_Aid/us_foreign_aid_complete.csv")

/Users/jyj/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (42) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
data.loc[data['fiscal_year']=='1976tq','fiscal_year']='1976';
data[data['fiscal_year']=='1976tq']
data['fiscal_year']=data['fiscal_year'].astype(str).astype(int,inplace=True)

Empty DataFrame
Columns: [country_id, country_code, country_name, region_id, region_name, income_group_id, income_group_name, income_group_acronym, implementing_agency_id, implementing_agency_acronym, implementing_agency_name, implementing_subagency_id, subagency_acronym, subagency_name, channel_category_id, channel_category_name, channel_subcategory_id, channel_subcategory_name, channel_id, channel_name, dac_category_id, dac_category_name, dac_sector_code, dac_sector_name, dac_purpose_code, dac_purpose_name, funding_account_id, funding_account_name, funding_agency_id, funding_agency_name, funding_agency_acronym, assistance_category_id, assistance_category_name, aid_type_group_id, aid_type_group_name, activity_id, activity_name, activity_project_number, activity_start_date, activity_end_date, transaction_type_id, transaction_type_name, fiscal_year, current_amount, constant_amount, USG_sector_id, USG_sector_name, submission_id]
Index: []

[0 rows x 48 columns]

In [6]:
data;
data.dtypes;

In [7]:

from sqlalchemy import create_engine
engine = create_engine('sqlite:///aid_data.sqlite', echo=False)
data.to_sql("aid_data", con=engine, if_exists = "replace", chunksize = 10)

In [9]:
import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)

In [17]:
app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///aid_data.sqlite"
db = SQLAlchemy(app)

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(db.engine, reflect=True)

# Save references to each table

# Base.classes.keys()
aid_data = Base.classes.aid_data

/Users/jyj/anaconda3/envs/PythonData/lib/python3.6/site-packages/flask_sqlalchemy/__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [21]:

session = Session(engine)

In [40]:
first_row = session.query(aid_data).first()
first_row.__dict__;

In [49]:
our_data=[]
for row in session.query(aid_data.country_name, aid_data.fiscal_year,  aid_data.constant_amount).all():
    our_data.append(row)
our_data_df=pd.DataFrame(our_data)

In [68]:
our_data_groupby=our_data_df.groupby(['country_name','fiscal_year'])["constant_amount"].sum();

# our_data_df.groupby
our_data_groupby=our_data_groupby.reset_index()

In [73]:
country_data=our_data_groupby.loc[our_data_groupby["country_name"]=="Afghanistan"]

In [78]:
# country_data["fiscal_year"].values.tolist();
country_data.constant_amount.tolist();

In [84]:
countries=pd.read_csv("./country_name.csv")
countries.head()

   Unnamed: 0      country  year_count
0           0  Afghanistan       19690
1           1      Albania        4330
2           2      Algeria         897
3           3       Angola        5676
4           4     Anguilla           5

In [98]:
from flask import Flask, jsonify


# dict(countries)
# {"country":list(countries["country"])}

In [100]:


@app.route('/_get_current_user')
def get_current_user():
    return jsonify(username=g.user.username,
                   email=g.user.email,
                   id=g.user.id)

In [106]:
our_data_df0=pd.read_csv("./simple_data.csv")
our_data_df=our_data_df0[["country_name",  "fiscal_year" , "constant_amount"]]
print(our_data_df.head())

  country_name  fiscal_year  constant_amount
0  Afghanistan         2012       9799467226
1  Afghanistan         2011       8464007285
2  Afghanistan         2013       8095048196
3  Afghanistan         2013       7223112779
4  Afghanistan         2015       6855823695

In [5]:
count_country=data.groupby(['country_name','fiscal_year'])["constant_amount"].count()
count_country_year=data.groupby(['country_name'])["fiscal_year"].unique()
count_country_only=data.groupby(['country_name'])["fiscal_year"].count()
sum_country=data.groupby(['country_name','fiscal_year'])["constant_amount"].sum()

In [6]:
count_country_only=pd.DataFrame({'country':count_country_only.index, 'year_count':count_country_only.values})
count_country_only.to_csv('country_name.csv')
count_country_only;

In [19]:
len(count_country_only)

253

In [8]:
# data['country_name'].unique();
count_country_only;

In [42]:
sum_country=data.groupby(['country_name','fiscal_year'])["constant_amount"].sum().reset_index()
# plt.bar(sum_country())

In [16]:
type(sum_country)

pandas.core.series.Series

In [ ]:
# # fig2 = plt.figure(figsize=plt.figaspect(2.0))
# sum_country.plot(kind='bar',figsize=(18,5));

In [11]:
sum_country;

In [18]:
len(data)

954231

In [12]:
data1=data.iloc[1:10000]

In [21]:
data1.to_csv('simple_data.csv')

In [14]:
type(sum_country)

pandas.core.series.Series

In [15]:
sum_country.get_group(["Afghanistan","2018"])

AttributeError: 'Series' object has no attribute 'get_group'

In [17]:
count_country;

In [28]:
len(count_country_year["Afghanistan"])

64

In [20]:
sum_country.reset_index().iloc[0:64].to_csv('simple_data.csv');

In [36]:
sum_country.iloc[0:64].to_csv('simple_data.csv')

In [45]:
sum_country

country_name  fiscal_year
Afghanistan   1950                8201
              1951              778151
              1952             2244848
              1953            16168254
              1954            18156863
              1955            14412451
              1956           128546594
              1957           142201097
              1958            93975584
              1959           177326034
              1960            68293165
              1961           201464022
              1962           251786826
              1963           114709084
              1964           255776710
              1965           203632330
              1966           195539601
              1967           186593022
              1968            91092048
              1969            82261343
              1970            43337298
              1971            65681211
              1972           162669722
              1973           168319475
              1974            57694899
              1975            78892630
              1976            45756061
              1977            69377949
              1978            35322536
              1979            29483877
                               ...
Zimbabwe      1989            52538773
              1990            48076544
              1991            74208469
              1992           161060774
              1993            91559361
              1994            61292788
              1995            32301741
              1996            28666055
              1997            16450326
              1998            31725404
              1999            20364659
              2000            28451424
              2001            51128472
              2002           127848025
              2003            87204514
              2004            80126480
              2005           128208581
              2006            74373785
              2007           303110718
              2008           402733901
              2009           608224131
              2010           422367042
              2011           374396818
              2012           353047589
              2013           369563814
              2014           366163623
              2015           359017809
              2016           484065194
              2017           412194000
              2018           241957689
Name: constant_amount, Length: 10242, dtype: int64

In [46]:
d1=pd.read_csv('simple_data.csv')

In [47]:
d1

    Unnamed: 0 country_name  fiscal_year  constant_amount
0            0  Afghanistan         1950             8201
1            1  Afghanistan         1951           778151
2            2  Afghanistan         1952          2244848
3            3  Afghanistan         1953         16168254
4            4  Afghanistan         1954         18156863
5            5  Afghanistan         1955         14412451
6            6  Afghanistan         1956        128546594
7            7  Afghanistan         1957        142201097
8            8  Afghanistan         1958         93975584
9            9  Afghanistan         1959        177326034
10          10  Afghanistan         1960         68293165
11          11  Afghanistan         1961        201464022
12          12  Afghanistan         1962        251786826
13          13  Afghanistan         1963        114709084
14          14  Afghanistan         1964        255776710
15          15  Afghanistan         1965        203632330
16          16  Afghanistan         1966        195539601
17          17  Afghanistan         1967        186593022
18          18  Afghanistan         1968         91092048
19          19  Afghanistan         1969         82261343
20          20  Afghanistan         1970         43337298
21          21  Afghanistan         1971         65681211
22          22  Afghanistan         1972        162669722
23          23  Afghanistan         1973        168319475
24          24  Afghanistan         1974         57694899
25          25  Afghanistan         1975         78892630
26          26  Afghanistan         1976         45756061
27          27  Afghanistan         1977         69377949
28          28  Afghanistan         1978         35322536
29          29  Afghanistan         1979         29483877
..         ...          ...          ...              ...
34          34  Afghanistan         1989         99691805
35          35  Afghanistan         1990         25523981
36          36  Afghanistan         1991         32613878
37          37  Afghanistan         1992         49938156
38          38  Afghanistan         1993         58862566
39          39  Afghanistan         1994          3720117
40          40  Afghanistan         1995         18574352
41          41  Afghanistan         1996         24036781
42          42  Afghanistan         1997         46467238
43          43  Afghanistan         1998         12021963
44          44  Afghanistan         1999         49262960
45          45  Afghanistan         2000         73750900
46          46  Afghanistan         2001        176797479
47          47  Afghanistan         2002       1191246856
48          48  Afghanistan         2003       2170129401
49          49  Afghanistan         2004       3991479146
50          50  Afghanistan         2005       4127039782
51          51  Afghanistan         2006       7497608984
52          52  Afghanistan         2007      11337708439
53          53  Afghanistan         2008      19327093489
54          54  Afghanistan         2009      19473469898
55          55  Afghanistan         2010      20614838790
56          56  Afghanistan         2011      26807524383
57          57  Afghanistan         2012      24601389760
58          58  Afghanistan         2013      20538229335
59          59  Afghanistan         2014      14680895980
60          60  Afghanistan         2015      17442430587
61          61  Afghanistan         2016       9283768587
62          62  Afghanistan         2017      10429810900
63          63  Afghanistan         2018        595844790

[64 rows x 4 columns]